body{
    background-color:antiquewhite;
}
img { 
    position: absolute;
    top: 130px;
    left: 500px;
    
}
.title{
     position: absolute;
  top:10px;
	left: 450px;
  font-size: 50px;
  font-family:fantasy;
}
.text{
    position: absolute;
  top: 880px;
	left: 100px;
  font-size: 30px;
  font-family:fantasy;
  width:90%
}
.section_1 button{
    position: absolute;
    top: 1200px;
    left:700px;
  font-size: 24px;   /* 控制文字大小 */
    width: 200px;      /* 控制按钮宽 */
    height: 40px;      /* 控制按钮高 */
        background-color: gold;
    border-radius: 10px;       /* 圆角 */
}

